<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="css/product.css" type="text/css">
    </head>
    <!-- body -->

    <body class="main-layout">
        <!-- header section start -->
        <div class="header_section header_main">
            <%- include('../includes/navigation.ejs') %>
        </div>
        <div class="collection_text">Your Orders</div>
        <main>
            <div class="layout_padding gallery_section">
                <% if (orders.length <= 0) { %>
                    <h1 style="color: white; font-size: 48px; text-align: center; margin-bottom: 150px;">You Have No Orders!</h1>
                    <% } else { %>
                        <ul class="orders">
                            <% for(let i=0; i<orders.length; i++) { %>
                                <li class="order">
                                    <h1 class="order_id" style="color: black;">
                                        <%= i + 1 + ((nextPage - 2) * 3) %>) Order - #<%= orders[i]._id %>
                                    </h1>
                                    <h1 class="order_id">Total Price: $<%= orders[i].price %>
                                    </h1>
                                    <h1 class="order_id">Ordered At: <%= orders[i].orderedAt.toISOString().slice(0, 10) %>
                                    </h1>
                                    <h1 class="order_id" style="color: black;">*Ordered Products:</h1>
                                    <ul class="orders__products">
                                        <% for(let j=0; j<orders[i].items.length; j++) { %>
                                            <li class="orders_products-item">
                                                <%= orders[i].items[j].title %> (Quantity:
                                                    <%= orders[i].items[j].quantity %>)
                                            </li>
                                    </ul>
                                    <% } %>
                                </li>
                                <% } %>
                        </ul>
                        <% } %>
                <div class="tm-paging-wrapper">
                    <nav class="tm-paging-nav d-inline-block">
                        <ul>
                            <li class="tm-paging-item">
                                <a class="mb-2 tm-btn tm-paging-link" id="left" name="left" value="left"
                                    href="http://localhost:3000/orders?page=<%= previousPage %>"><i class="fa fa-arrow-left" style="margin-left: 15px; margin-top: 15px;"></i></a>
                            </li>
                            <li class="tm-paging-item">
                                <a class="mb-2 tm-btn tm-paging-link" id="right" name="right" value="right"
                                    href="http://localhost:3000/orders?page=<%= nextPage %>"><i class="fa fa-arrow-right" style="margin-left: 15px; margin-top: 15px;"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </main>
        <%- include('../includes/footer.ejs') %>
    </body>
    </html>